/* jAlbum 25.1.3 with Pluto 44, Light style, album creation date 12/4/21, 7:10 PM */
html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}
html {
	background-color: #eeeeee;
}
body {
	font-family: Verdana, Geneva, sans-serif;
	color: #111111;
	text-align: center;
}
body a {
	color: #111111;
}
body a:hover {
	color: #999999;
}
a, video {
	outline: none;
	text-decoration: none;
}
img, iframe {
	border: none;
}
img {
	user-select: none;
	-webkit-user-select: none; /* Safari */
}
video {
	width: 100%;
}
#pl-parabody, #pl-thumbs img, #pl-fthumbs img, .pl-ipimage img {
	animation: fadein 500ms;
}
@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}
#pl-noparanav > div {
	margin: 0px auto;
	min-height: 32px;
	padding: 5px;
}
#pl-parabody {
	height: 100%;
	margin: 0px;
	padding: 0px;
	perspective: 1px;
	transform-style: preserve-3d;
	overflow-y: scroll;
	overflow-x: hidden;
}
#pl-paranav {
	box-sizing: border-box;
	min-height: 40vw;
	padding: 30vw 0px 5vw;
	position: relative;
	transform-style: inherit;
	width: 100vw;
}
#pl-paranav, #pl-paranav:before {
	background: 50% 50% / cover;
}
#pl-paranav::before {
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	background-image: url('../pl-theme.jpg');
	background-size: cover;
	transform: translateZ(-1px) scale(2);
	z-index: -1;
	min-height: 100vh;
}
#pl-paranav * {
	margin: 0;
}
#pl-paranav img {
	padding: 5px 0px;
}
.pl-pagetitle {
	color: #111111;
	font-size: 40px;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	text-shadow: none;
	padding-bottom: 3px;
}
.pl-pagetitle a {
	color: #111111;
	text-decoration: underline;
}
.pl-pagedescription {
	color: #111111;
	font-size: 28px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-shadow: none;
}
.pl-pagedescription a {
	color: #111111;
	text-decoration: underline;
}
.pl-pagetitleTI {
	background-color: #0000004c;
	color: #ffffff;
	font-size: 48px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-shadow: 5px 5px 5px rgba(51, 51, 51, 0.4);
	padding: 42px 27px 25px 10px;
}
.pl-pagetitleTI a {
	color: #ffffff;
	text-decoration: underline;
}
.pl-pagedescriptionTI {
	background-color: #0000004c;
	color: #ffffff;
	font-size: 32px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-shadow: 3px 3px 5px rgba(51, 51, 51, 0.4);
	padding: 0px 27px 32px 10px;
}
.pl-pagedescriptionTI a {
	color: #ffffff;
	text-decoration: underline;
}
#pl-navleft {
	width: 166px;
	height: 32px;
	text-align: left;
	float: left;
	font-size: 0px;
}
#pl-navleft img {
	width: 32px;
	height: 32px;
	margin-left: 20px;
	cursor: pointer;
}
#pl-navright {
	width: 166px;
	height: 32px;
	float: right;
}
#pl-paracontent {
	background-color: #eeeeee;
	position: relative;
	padding: 15px 0px 0px;
	min-height: 100%;
}
.pl-infotxt {
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-shadow: none;
	text-align: center;
	margin: 0px auto 15px;
	max-width: 1200px;
	padding: 0px 10px;
}
.pl-infotxt a {
	text-decoration: underline;
}
.pl-infotxtbottom {
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-shadow: none;
	text-align: center;
	margin: 0px auto 10px;
	max-width: 1200px;
	padding: 0px 10px;
}
.pl-infotxtbottom a {
	text-decoration: underline;
}
.pl-thumbbox, .pl-fthumbbox {
	max-width: 1600px;
	margin: 0 auto 10px;
	padding: 0px 43px;
}
#pl-thumbs img:hover, #pl-fthumbs img:hover {
	transform: scale(1.1);
	transition: transform 1s;
}
#pl-thumbs img, #pl-fthumbs img {
	transition: transform 1s;
}
.pl-foldericon {
	background: #bbbbbb url('folder.png') center/contain no-repeat;
}
.jg-entry {
	position: relative;
}
.pl-videooverlay img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -120px !important;
	margin-left: -120px !important;
	width: 241px;
	height: 241px;
}
.pl-thumbcaption, .pl-fthumbcaption {
	overflow-wrap: break-word;
	margin: 5px 5px 10px;
}
.pl-foldertitle {
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	line-height: 22px;
	text-shadow: none;
}
.pl-foldertitle a {
	text-decoration: underline;
}
.pl-foldercomment {
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 22px;
	text-shadow: none;
}
.pl-foldercomment a {
	text-decoration: underline;
}
.pl-fcount {
	font-size: 18px;
	font-weight: normal;
	font-style: italic;
	font-variant: normal;
	text-shadow: none;
}
.pl-imagetitle {
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	line-height: 22px;
	text-shadow: none;
}
.pl-imagetitle a {
	text-decoration: underline;
}
.pl-imagecomment {
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 22px;
	text-shadow: none;
}
.pl-imagecomment a {
	text-decoration: underline;
}
.pl-copyright {
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	margin: 0px auto 8px;
	padding: 0px 10px;
	text-shadow: none;
}
.pl-copyright a {
	text-decoration: underline;
}
.pl-credits {
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	margin: 0px auto 10px;
	text-shadow: none;
}
.pl-credits a {
	text-decoration: underline;
}
#pl-pagetop {
	background-color: #bbbbbb;
	position: fixed;
	bottom: 40px;
	left: 10px;
	opacity: 0.75;
	display: none;
}
#pl-pagetop img {
	width: 32px;
	height: 32px;
	padding: 10px 5px 5px;
}
#pl-pagetop:hover {
	cursor: pointer;
}
.pl-slidetitle {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 22px;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	margin-bottom: 3px;
	padding: 0px 10px;
	text-align: center;
	text-shadow: none;
	user-select: text;
	-webkit-user-select: text; /* Safari */
}
.pl-slidetitle a {
	text-decoration: underline;
}
.pl-slidetitle a:hover {
	color: #999999;
}
.pl-slidecomment {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	margin-bottom: 3px;
	padding: 0px 10px;
	text-align: center;
	text-shadow: none;
	user-select: text;
	-webkit-user-select: text; /* Safari */
}
.pl-slidecomment a {
	text-decoration: underline;
}
.pl-slidecomment a:hover {
	color: #999999;
}
@media (max-height: 500px) {
	.pl-slidetitle, .pl-slidecomment {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
}
#pl-navleftip {
	width: 104px;
	height: 32px;
	text-align: left;
	float: left;
	font-size: 0px;
}
#pl-navleftip img {
	width: 32px;
	height: 32px;
	margin-left: 20px;
	cursor: pointer;
}
#pl-navrightip {
	width: 104px;
	height: 32px;
	float: right;
}
.pl-pagetitleip {
	color: #111111;
	font-size: 32px;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	text-shadow: none;
	padding-bottom: 3px;
}
.pl-pagetitleip a {
	color: #111111;
	text-decoration: underline;
}
.pl-ipbox {
	padding: 15px 20px 20px;
}
.pl-ipbox > div {
	max-width: 1590px;
	margin: 0px auto;
}
.pl-ipbox > div > div {
	background-color: #d0d0d0;
	overflow: hidden;
	padding-bottom: 5px;
}
.pl-ipimage {
	max-width: 200px;
	float: left;
	padding: 10px 15px 0px 15px;
}
.pl-ipimage img {
	width: 100%;
	height: auto;
}
.pl-iptext {
	color: #111111;
	padding: 10px;
	font-size: 22px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-shadow: none;
	text-align: left;
}
.pl-iptext a {
	color: #111111;
	text-decoration: underline;
}
.pl-iptext a:hover {
	color: #999999;
}
.pl-ipcontact {
	color: #111111;
	font-size: 22px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-shadow: none;
	padding: 10px;
	clear: both;
}
.pl-ipcontact a {
	color: #111111;
	text-decoration: none;
}
.pl-ipcontact a:hover {
	color: #999999;
}
.pl-ipcontact img {
	vertical-align: middle;
	padding: 0px 5px;
}
.pl-bodyclosing {
	margin: 5px;
}
.pl-disabled {
	opacity: 0.5;
}
.pl-bodyspacer {
	height: 30px;
}
.pl-hidden {
	display: none;
}
.pl-pointer {
	cursor: pointer;
}
i.fbxIcon {
	font-size: 24px;
}
a.fbNextPanel {
	width:55% !important;
}
.fbPrev2 .fbxIcon, .fbNext2 .fbxIcon {
	font-size: 32px;
}
.fbx .fbResizer {
	display: none;
}
@media (max-width: 500px), (max-height: 500px) {
	.fbPrev2 .fbxIcon, .fbNext2 .fbxIcon {
		font-size: 24px;
	}
}
